body{
    padding: 0%;
    margin:0%;
    text-align: center;
}


input, label {
    display:block;
}
input[type="number"] {
   border-radius: 64px !important;
    padding: 12px;
    text-align: center;
}
.input_div_custome{
    display: inline-block;
}
